/* dialog-person-entity-min-balance.component.scss */

/* Botones del diálogo */
button {
    margin: 10px;
}


/* Estilos para texto */
h2 {
    font-size: 18px;
    color: #333;
}

.bg-custom {
    background-color: #003d64;
    color: #fff !important;
}

//estilos para botones superiores
.btn-custom {
    background-color: #003d64 !important; //var(--default3) #172b4d #001F3F;
    border-color: var(--default4) !important; //var(--default3) #172b4d
    color: #fff !important; //#fff  var(--default4)
    justify-content: center !important;
    display: flex !important;
    align-items: center !important;
    padding: 8px 16px 8px 13px !important;
}