<div class="content bg-gray-3">
  <div class="container-fluid px-2 px-md-5 pb-2 pt-4 py-md-4">
    <uni-image-card title="Reporte de Asignaciones"
      externImage="https://img.freepik.com/vector-premium/manos-humanas-sosteniendo-tarjetas-credito-o-debito-facturas-dinero-operaciones-financieras-inversiones-transacciones-volumen-caja-pago-efectivo-no-efectivo_458444-275.jpg"
      size="15%">

      <div class="row">
        <div class="col  d-flex justify-content-end align-items-end ">

          <button type="button" class="mb-2 mb-md-0 custom-button btn button-tertiary me-2 " (click)="addBalance()">
            <mat-icon>add</mat-icon>
            <span class="custom-span-icon-responsive">Asignar Saldo</span>
          </button>

        </div>
      </div>
    </uni-image-card>

    <mat-card class="custom-border-radius-1-25">
      <mat-card-content>
        <div>
          <h2 class="mt-4 ml-3 text-default"> Datos de Búsqueda </h2>
          <form [formGroup]="assignForm" class="formAssign">
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>Seleccionar fecha</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="dateStart" placeholder="Start date">
                <input matEndDate formControlName="dateEnd" placeholder="End date">
              </mat-date-range-input>
              <mat-hint align="end">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>Tipo Entidad</mat-label>
              <mat-select formControlName="typeEntity" (selectionChange)="selecType($event)">
                <mat-option *ngFor="let type of typeEntitys" [value]="type">{{type.master_relativeName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-3" (click)="showAlarmSelectTypeEntity()">
              <mat-label>Entidad</mat-label>
              <mat-select formControlName="entity">
                <mat-option *ngFor="let type of nameType"
                  [value]="type.servicePerson.idPerson">{{type.servicePerson.nameAlias}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>Tipo de Asignación</mat-label>
              <mat-select formControlName="typeAssign">
                <mat-option value="saldo">SALDO</mat-option>
                <mat-option value="credito">CREDITO</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <div class="row">
            <div class="col lg-6 d-flex justify-content-end align-items-end mb-3 mr-3">
              <button type="button" class="button-secondary btn" (click)="cleanSearch()">
                <mat-icon>filter_alt_off</mat-icon>Limpiar
              </button>
              <button type="button" class="button-primary btn" (click)="searchData()">
                <mat-icon>search</mat-icon> Buscar
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="custom-border-radius-1-25">
      <mat-card-content>
        <div>
          <uni-dynamic-table [columns]="columns" [lengthTable]="count" [data]="dataBalance" [actionsOptions]="false"
            element_id="id" [pageKey]="pageKey" [refreshFunction]="reload.bind(this)"
            (pageChange)="onPageChange($event)" [customExportFunction]="exportDataViaAPI.bind(this)">
          </uni-dynamic-table>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>