<div class="content bg-gray-3">
    <div class="container-fluid px-2 px-md-5 pb-2 pt-4 py-md-4">
        <uni-image-card title="Reporte saldo"
            externImage="https://png.pngtree.com/png-clipart/20220628/ourlarge/pngtree-cash-banknotes-money-bag-cartoon-png-image_5339686.png"
            size="15%">

            <div class="align-content-center">
                <button mat-flat-button type="button" class="mb-2 mb-md-0 custom-button btn-dark"
                    (click)="addBalance()">
                    <mat-icon>add</mat-icon>
                    <span class="custom-span-icon-responsive">Añadir</span>
                </button>
            </div>
        </uni-image-card>

        <mat-card class="custom-border-radius-1-25">
            <mat-card-content>
                <div>
                    <h2 style="margin-top: 23px; margin-left: 20px;"> Datos de Búsqueda </h2>
                    <uni-dynamic-table [columns]="columns" [data]="dataBalance" [actionsOptions]="true" element_id="id" [actionsOptions]="false"
                    [pageKey]="pageKey" [refreshFunction]="reload.bind(this)" (pageChange)="onPageChange($event)">

                    </uni-dynamic-table>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>