<div class="content bg-gray-3">
    <div class="container-fluid px-2 px-md-5 pb-2 pt-4 py-md-4">
        <uni-image-card title="Transacciones">
        </uni-image-card>


        <mat-card>
            <h2 style="margin-top: 23px; margin-left: 20px;"> Datos de Búsqueda </h2>

            <form [formGroup]="formDate" class="d-flex align-items-center justify-content-space-evenly flex-wrap">
                <!-- <mat-form-field appearance="outline" class="col-md-3">
                    <mat-label>Elige una fecha</mat-label>
                    <input formControlName="date" matInput [matDatepicker]="datepicker">
                    <mat-hint align="end">MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field> -->

                <mat-form-field appearance="outline" class="col-md-3">
                    <mat-label>Seleccionar fecha</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate formControlName="dateStart" placeholder="Start date">
                      <input matEndDate formControlName="dateEnd" placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint align="end">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  
                    <!-- <mat-error *ngIf="formDate.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
                  </mat-form-field>
                
                <mat-form-field appearance="outline" class="col-md-2">
                    <mat-label>Seleccionar servicio</mat-label>
                    <mat-select formControlName="idService">
                        <mat-option  [value]="">NINGUNO</mat-option>
                        <mat-option *ngFor="let service of serviceName" [value]="service.id">
                            {{service.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-2">
                    <mat-label>N° documento</mat-label>
                    <input formControlName="numDoc" type="text" matInput>
                </mat-form-field>
            
                <mat-form-field appearance="outline" class="col-md-2">
                    <mat-label>Seleccionar Estado</mat-label>
                    <mat-select formControlName="status">
                        <mat-option  [value]="">NINGUNO</mat-option>
                        <mat-option *ngFor="let status of masterStatus" [value]="status.master_name">
                            {{status.master_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <uni-dynamic-table [columns]="columns" [data]="dataTransaction" 
            [refreshFunction]="reload.bind(this)" element_id="concep" (pageChange)="onPageChange($event)"
                        [pageKey]="pageKey" [actionsOptions]="false">
            </uni-dynamic-table>

        </mat-card>
    </div>
</div>