<div class="content bg-gray-3">
  <div class="container-fluid px-2 px-md-5 pb-2 pt-4 py-md-4">
    <uni-image-card title="Listar Montos Actuales" externImage="https://cdn-icons-png.flaticon.com/512/5002/5002828.png"
      size="7%">
    </uni-image-card>

    <mat-card class="custom-border-radius-1-25">
      <mat-card-content>
        <div>
          <h2 class="mt-4 ml-3 text-default"> Datos de Búsqueda </h2>
          <form [formGroup]="assignForm" class="formAssign">
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>Tipo Entidad</mat-label>
              <mat-select formControlName="typeEntity" (selectionChange)="selecType($event)">
                <mat-option *ngFor="let type of typeEntitys" [value]="type">{{type.master_relativeName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>Entidad</mat-label>
              <mat-select formControlName="entity">
                <mat-option *ngFor="let type of nameType"
                  [value]="type.servicePerson.idPerson">{{type.servicePerson.nameAlias}}</mat-option>
              </mat-select>
              <mat-hint class="text-danger" *ngIf="typeEntity == '' && assignForm.get('entity')?.touched">
                Primero selecciona un Tipo de Entidad.
              </mat-hint>
            </mat-form-field>
          </form>
          <div class="row">
            <div class="col lg-6 d-flex justify-content-end align-items-end mb-3 mr-3">
              <button type="button" class="btn-default2 btn" (click)="cleanSearch()">
                Limpiar
              </button>
              <button type="button" class="btn-default3 btn" (click)="searchData()">
                Buscar
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="custom-border-radius-1-25">
      <mat-card-content>
        <div>
          <uni-dynamic-table [columns]="columns" [lengthTable]="count" [data]="dataBalance" [actionsOptions]="false"
            element_id="id" [pageKey]="pageKey" [refreshFunction]="reload.bind(this)"
            (pageChange)="onPageChange($event)" [customExportFunction]="exportDataViaAPI.bind(this)">
          </uni-dynamic-table>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>