<div class="bg-dialog  mb-3 p-3">
    <h3 class="m-0 text-dialog" mat-dialog-title>Actualizar estado</h3>
</div>
<form [formGroup]="formOperation">
    <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Entidad {{this.data.type_entity}}</mat-label>
        <input formControlName="entity" type="text" matInput>
    </mat-form-field>

    <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Nuevo Saldo</mat-label>
        <input formControlName="balance" type="text" matInput>

    </mat-form-field>
    <div class="d-flex justify-content-end">
        <button mat-button class="btn button-quaternary" (click)="onNoClick()">
            <mat-icon> close</mat-icon>
            Cancelar
        </button>
        <button mat-button class="btn button-tertiary" (click)="updateEstado()" [disabled]="isDisable"
            formButtonName="btnActualizar">
            <mat-icon> update</mat-icon>
            Actualizar
        </button>
    </div>
</form>